<h2>Meet Our Boosters</h2><hr><br>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
  		<div class="carousel-item active">
    		<h4>Nikolai</h4><br>
    		<img src="https://randomuser.me/api/portraits/men/14.jpg"><br><br>
    		<h6><br><i class="far fa-user"></i> <strong>YorhaA3</strong></h6><br>
    		<h6>Nikolai is from Russia.<br>
    			He has completed <strong>109</strong> boosts.
    		</h6><br>
    	</div>




    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>








<script src='src/boosters-app.js'></script>