<h2>Contact Us</h2><hr><br>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, libero.</p>

<form class='form-container'>
	<h3>Contact Customer Service</h3>
	<input type='email' name='email' placeholder='Your email' spellcheck=false required>
	<textarea placeholder='Your message' spellcheck=false required></textarea>
	<button class="btn btn-success">Send Email</button>
</form>