<h2>Customer Support</h2><hr><br>

<p>Get your questions answered or send us your feedback.</p><p>Receive assistance with your order or with picking the best boosting plan for you. and send us your feedback. No matter where you are at in your boosting process, our 24/7 team is here to help.<br></p>

<form class='form-container'>
	<h3>How can we help you?</h3>
	<input type='email' name='email' placeholder='Your email' spellcheck=false required>
	<textarea placeholder='Send us a message' spellcheck=false required></textarea>
	<button class="btn btn-success">Send Email</button>
</form>