<h2>Order History</h2><hr><br>

<p>Uh oh! Looks like you don't have any orders.</p>

<p>Start your first order to raise your SR! Use the<br>
	code <em class='code'>GG2020</em> to take 20% off your first order.</p>
<button class="btn btn-info" type="button">Get Boosted Now</button>