<h2>User Reviews</h2><hr><br>

<h3>Here's what our customers are saying</h3><br><br>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      Anonymous
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"Fast and reliable service."</em></div>


    </div>

    <div class="carousel-item">

      Dan B.
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"Customer service was MVP. They answered all questions very quickly. 10/10 will use this site again"</em></div>

    </div>

    <div class="carousel-item">

      Jacob
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"safe, fast service"</em></div>

    </div>

    <div class="carousel-item">

      Anonymous
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"Great for maintaining your SR when had a bunch of unlucky games with throwers. Also nice to climb without worrying about tilt"</em></div>

    </div>

    <div class="carousel-item">

      ProGamerRex007
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"Fast boost I would recommend if you are hardstuck in low elo"</em></div>

    </div>

    <div class="carousel-item">

      Tay
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"Fast, awesome, and friendly boosters ❤️ And great pricing too"</em></div>

    </div>

    <div class="carousel-item">

      PogChamp
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"finally out of bronze, my dudes ... DIAMOND HERE I COME LOL"</em></div>

    </div>

    <div class="carousel-item">

      Luis
      <div class="star-ratings-css">
        <div class="star-ratings-css"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div><br>
      <div class="review"><em>"I highly recommend Vladimir for your boosting needs. He was efficient, responsive, and very friendly. Will request him for my next boost"</em>

    </div>


  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>